@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

:root {
  --accent-color: #386641;
}

* {
  font-family: "Poppins";
  transition: 0.3s;
  text-align: center;
}

html,
body {
  overflow-x: hidden;
}

a {
  color: var(--accent-color);
}

a:hover {
  color: white;
  background-color: var(--accent-color);
}

p {
  font-size: 1.25rem;
  text-align: left;
}

li {
  text-align: start;
}

.highlight {
  color: var(--accent-color);
}

@media (min-width: 52rem) {
  .logo {
    vertical-align: text-bottom;
  }

  .header-brand {
    margin-top: 15px;
    float: left;
  }

  .nav-header {
    float: right;
    margin-top: 1.25rem;
  }

  .grid-container {
    grid-template-columns: auto auto auto auto !important;
  }
}

@media (max-width: 600px) {
  .cover-heading {
    font-size: 15vw !important;
  }
  .lead {
    font-size: 6vw !important;
    margin-top: 4rem !important;
  }

  .card {
    border-radius: 10px !important;
  }

  .card p {
    font-size: 1rem;
  }

  .sosmed h3 {
    font-size: 1.5rem;
  }

  .cover-heading {
    font-size: 2.5rem !important;
  }
}

.title {
  text-align: start;
  font-weight: 700;
}

.head {
  min-height: 80px;
  background-color: white;
  max-width: 75rem;
  margin: 0 auto;
  color: var(--accent-color);
}

.lead {
  font-weight: 500;
  font-size: 2rem;
  margin-top: 8rem;
}

.cover-heading {
  color: var(--accent-color);
  margin: auto;
  font-size: 4rem;
  max-width: 50rem;
}

.card {
  border-radius: 20px;
  border: hidden;
  padding: 15px;
  box-shadow: 0px 15px 30px -10px;
}

.card p {
  text-align: start;
}

.sosmed {
  max-width: 40rem;
  margin-top: 6rem;
  display: inline-block;
}

.sosmed h3 {
  text-align: left;
  display: inline;
}

.sosmed i {
  font-size: 2.5rem;
  color: var(--accent-color);
}

a h3:hover {
  color: var(--accent-color);
  background-color: white !important;
}

footer {
  margin-top: 10rem;
  margin-bottom: 2rem;
}

.rounded {
  border-radius: 10px !important;
}
